footer.footer.hero-foot
  .container
    .columns
      .column.has-text-left
        | © 2018 Athena Foundation
      .column.has-text-right
        a.button.is-dark(href='http://chat.athx.org', style='background: #6c81ca;')
          span.icon
            i.fab.fa-discord
          span Discord
        a.button.is-dark(href='https://reddit.com/r/athxnetwork', style='background: #ff4500;')
          span.icon
            i.fab.fa-reddit
          span Reddit
        a.button.is-dark(href='https://github.com/athena-network')
          span.icon
            i.fab.fa-github
          span Github
